* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#181a1e, #383f4e);
    /* background-image: linear-gradient(#22262d, #2b2d30); */
}

.pages {
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
}
